* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}

:root {
  --color-131921: #131921;
}

body {
  font-family: 'Roboto', sans-serif;
 
}

a {
  text-decoration: none;
  display: inline-block;
}
/* h1{
  color:white,
  margin-top:200px ;
} */